In [1]:
import numpy as np

In [11]:
def randomlist(size):
  list = []
  for i in range (size):
    list.append(np.random.randint(10,50))
  return list

def sumcalc (list):
  sum = 0
  for i in range(len(list)):
    sum = sum + list[i]
  return sum

In [36]:
n = 0
while n < 5 or n > 15:
  n = int(input("Enter a integer between 5 to 15: "))

Enter a integer between 5 to 15: 7

In [37]:
MyList = randomlist(n)
MyList

[10, 41, 24, 13, 44, 19, 26]

In [38]:
MySum = sumcalc(MyList)
MySum

177

In [64]:
print("The elements of the array are: " + ' '.join(str(element) for element in MyList))

The elements of the array are: 10 41 24 13 44 19 26

In [67]:
outputSum = str(MySum)
print("The sum is: " + outputSum)

The sum is: 177